main{
	padding: 2rem;
}
.user {
	display: flex;
}
.user-photo {
	min-width: 15rem;
	width: 15rem;
	height: 15rem;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #fff;
	margin: 0 2rem;
}
.user-photo img {
	width: 15rem;
	height: 15rem;
}
.user-info {
	color:#fff;
	text-align: left;
	padding: 2rem 10rem 2rem 1rem;
}
.user-info h3 {
	font-size: 2.5rem;
	color: #00A693;
	margin: 0.5rem 0;
	letter-spacing: 2px;
}
.user-info strong {
	font-size: 1.5rem;
	font-weight: 300;
}
.user-info p {
	font-size: 1.3rem;
	letter-spacing: 1px;
	margin: 2.5rem 0;
	line-height: 1.8rem;
}
.user-info button {
	display: flex;
	background: #00A693;
	color: #fff;
	border-style: none;
	margin: 0 auto;
	padding: 0.5rem 1.5rem;
	font-size: 1.7rem;
	font-family: 'Neucha';
	border-radius: 1rem;
	letter-spacing: 1px;
	outline: none;
}
.user-info button:hover {
	color:#707070;
	cursor: pointer;
}
.user-info button div {
	margin-right: 0.3rem;
}
.user-info button div i{
	font-weight: 600;
}
