main{
	padding: 3.2rem;
}
.user {
	display: flex;
}
.user-photo {
	min-width: 24rem;
	width: 24rem;
	height: 24rem;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #fff;
	margin: 0 3.2rem;
}
.user-photo img {
	width: 24rem;
	height: 24rem;
}
.user-info {
	color:#fff;
	text-align: left;
	padding: 3.2rem 16rem 3.2rem 1.6rem;
}
.user-info h3 {
	font-size: 4rem;
	color: #00A693;
	margin: 0.8rem 0;
	letter-spacing: 2px;
}
.user-info strong {
	font-size: 2.4rem;
	font-weight: 300;
}
.user-info p {
	font-size: 2.1rem;
	letter-spacing: 1px;
	margin: 4rem 0;
	line-height: 2.9rem;
}
.user-info a {
	display: inline-block;
	background: #00A693;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-style: none;
	margin: 0 auto;
	padding: 0.8rem 2.4rem;
	font-size: 2.24rem;
	font-family: 'Neucha';
	border-radius: 1.6rem;
	letter-spacing: 1px;
	outline: none;
}
.user-info a:hover {
	color:#707070;
	cursor: pointer;
}
.user-info button div {
	margin-right: 0.5rem;
}
.user-info button div i{
	font-weight: 600;
}
################################

@media screen and (max-width: 690px){
	
}