.resume-wrap {
	color:#fff;
	text-align: left;
	margin: 0 auto;
	width: 60%;
	padding-top: 4.8rem;
}
.resume-wrap h3 {
	font-size: 4rem;
	color: #00A693;
	margin: 0.8rem 0;
	letter-spacing: 2px;
}
.resume-wrap p {
	font-size: 2.1rem;
	letter-spacing: 1px;
	margin: 4rem 0;
	line-height: 2.9rem;
}
.resume-wrap button {
	display: flex;
	background: #00A693;
	color: #fff;
	border-style: none;
	margin: 0 auto;
	padding: 0.8rem 2.4rem;
	font-size: 2.72rem;
	font-family: 'Neucha';
	border-radius: 1.6rem;
	letter-spacing: 1px;
	outline: none;
}
.resume-wrap button:hover {
	color:#707070;
	cursor: pointer;
}
.resume-wrap button div {
	margin-right: 0.5rem;
}
.resume-wrap button div i{
	font-weight: 600;
}