html {
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Neucha', sans-serif;
	
	background: #484848;
}
header {
	display: flex;
	background: #00A693;
	padding: 0.5rem 2.4rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
header nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.32rem; 
}
header nav a {
	display: flex;
	color: #ffffff;
	padding: 0.32rem 1.6rem 0.32rem 1.12rem;
	height: 3.2rem;
	text-decoration: none;
	border-radius: 1.6rem;
}
header nav a:hover {
	color:#707070;
}
.active{
	background:#484848;
}
.nav-item-icon{
	width: 3.2rem;
	height: 3.2 rem;
	text-align: center;
	line-height: 3.2rem;
	margin-right: 0.6rem;
}
header nav a i {
	width: 100%;
	height: 100%;
}
header nav a i::before{
	font-weight: 600;
	font-size: 2.56rem;
}
header nav a span {
	display: block;
	text-align: center;
	font-size: 2.24rem;
	line-height: 3.2rem;
	letter-spacing: 1px;
	font-family:'Lacquer', sans-serif;
}
.logo {
	display: block;
	min-width: 4.16rem;
	width: 4.16rem;
	height: 4.16rem;
	border-radius: 50%;
	overflow: hidden;
	border:2px solid #fff;
}
.logo img {
	width: 4.16rem;
	height: 4.16rem;
}
footer {
	background: #707070;
	height: 4.16rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	padding: 0 3.2rem;
}
footer a {
	text-decoration: none;
	color: #fff;
	font-size: 1.6rem;
	line-height: 4.16rem;
	letter-spacing: 1px;
}
footer a:hover{
	color: #00A693;
}
main{
	margin-top: 5.6rem;
	position: relative;
}
.contacts {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 32rem;
	background: #fff;
	display: none;	
}
@media screen and (max-width: 690px){
	footer {
		position: relative;
	}
	header {
		overflow: hidden;  	
	}
	header nav {
		flex-direction: column;
		display: none;
		margin-right: 5rem;
	}
	header nav a {
		justify-content: flex-start;
		margin-bottom: 1rem;
	}
	header nav a:hover {
		background:#484848;
		color: #fff;
	}
	.active{
		color:#484848;
		background: transparent;
	}
	.logo {
		margin-right: 2rem;
	}
	header a.icon {
  	display: block;
  	position: absolute;
  	right: 2rem;
    top: 0.8rem;
	}
	.container {
  	cursor: pointer;
	}
	.bar1, .bar2, .bar3 {
  	width: 35px;
  	height: 5px;
  	background-color: #fff;
  	margin: 6px 0;
  	transition: 0.4s;
	}

	/* Rotate first bar */
	.change .bar1 {
  	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  	transform: rotate(-45deg) translate(-9px, 6px) ;
	}

	/* Fade out the second bar */
	.change .bar2 {
  	opacity: 0;
	}

	/* Rotate last bar */
	.change .bar3 {
  	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  	transform: rotate(45deg) translate(-8px, -8px) ;
	}
	.user{
		flex-direction: column;
		align-items: center;
	}
	.user .user-info {
		padding: 1.6rem;
		text-align: center;	
	}
	main.skill-container {
		padding: 3rem 6rem;
	}
	main .skill-info .skill-poss {
		display: none;
	}
	main .work-container {
		grid-template-columns: 35rem;
		grid-template-rows: 35rem 35rem 35rem 35rem;
	}
	main .work-container .work-item	{
		line-height: 35rem;
	}
	main .contact-wrap ul {
		margin: 3rem 0;
		padding: 0;
	}
	main .contact-wrap .contact-item {
		flex-direction: column;
		margin-bottom: 2rem;
	}
	main .contact-wrap .contact-item a {
		margin: 0 auto;
	}
	main .contact-wrap .contact-item p {
		margin: 0.5rem 0;

	}	
}
@media screen and (min-width: 691px) {
	.user .user-info {
		padding: 1.6rem;
	}
}
@media screen and (min-width: 1024px){
	html {
		font-size: 60%;
	}	
}
@media screen and (min-width: 1366px){
	html {
		font-size: 82.5%;
	}	
	main .user .user-info{
		padding: 3.2rem 16rem 3.2rem 1.6rem;
	}
}
@media screen and (min-width: 1448px){
	html {
		font-size: 88%;
	}
}
@media screen and (min-width: 1541px){
	html {
		font-size: 93%;
	}
}
@media screen and (min-width: 1624px){
	html {
		font-size: 99%;
	}
}
@media screen and (min-width: 1725px){
	html {
		font-size: 105%;
	}
}
@media screen and (min-width: 1825px){
	html {
		font-size: 111%;
	}
}
@media screen and (min-width: 1920px){
	html {
		font-size: 117%;
	}
}
@media screen and (min-width: 2025px){
	html {
		font-size: 124%;
	}
}
@media screen and (min-width: 2142px){
	html {
		font-size: 133%;
	}
}
@media screen and (min-width: 2294px){
	html {
		font-size: 142%;
	}
}
@media screen and (min-width: 2459px){
	html {
		font-size: 153%;
	}
}
@media screen and (min-width: 2627px){
	html {
		font-size: 162%;
	}
}						