body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Neucha', sans-serif;
	font-size: 62.5%;
	background: #484848;
}
header {
	display: flex;
	background: #00A693;
	padding: 0.3rem 1.5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
header nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.2rem; 
}
header nav a {
	display: flex;
	color: #ffffff;
	padding: 0.2rem 1rem 0.2rem 0.7rem;
	height: 2rem;
	text-decoration: none;
	border-radius: 1rem;
}
header nav a:hover {
	color:#707070;
}
.active{
	background:#484848;
}
.nav-item-icon{
	width: 2rem;
	height: 2 rem;
	text-align: center;
	line-height: 2rem;
	margin-right: 0.4rem;
}
header nav a i {
	width: 100%;
	height: 100%;
}
header nav a i::before{
	font-weight: 600;
	font-size: 1.6rem;
}
header nav a span {
	display: block;
	text-align: center;
	font-size: 1.4rem;
	line-height: 2rem;
	letter-spacing: 1px;
	font-family:'Lacquer', sans-serif;
}
.logo {
	display: block;
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 50%;
	overflow: hidden;
	border:2px solid #fff;
}
.logo img {
	width: 2.6rem;
	height: 2.6rem;
}
footer {
	background: #707070;
	height: 2.6rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: right;
	padding: 0 2rem;
}
footer a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	line-height: 2.6rem;
	/*font-family:'Lacquer';*/
	letter-spacing: 1px;
}
footer a:hover{
	color: #00A693;
}
main{
	margin-top: 3rem;
}