.works-wrapper {
	padding: 4.8rem 3.2rem;
}
.work-container {
	display: grid;
	grid-template-columns: 28.8rem 28.8rem 28.8rem;
	grid-template-rows: 28.8rem 28.8rem;
	grid-column-gap: 3.2rem;
	grid-row-gap: 4.8rem;
	justify-content: center;  
}
.work-item {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 28.8rem;
	color: #fff;
	font-size: 8rem;
	border: 3px solid #fff;
	border-radius: 1.6rem;
	overflow: hidden;
	background-image: url('../img/tlen.jpg');
	background-size: cover;
	outline: none;
	position: relative;
}

@media screen and (max-width: 698px){
	
}
@media screen and (max-width: 860px){
	.work-container {
	grid-template-columns: 28.8rem 28.8rem;
	grid-template-rows: 28.8rem 28.8rem 28.8rem;
	}		
}
